
body {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: relative;
  z-index: 0;

  cursor: none;
}

#openConfigs {
  z-index: 2;
  position: fixed;
  right: 0px;
  top: 0px;

  margin: 0.5em;

  font-size: large;
  font-weight: bold;

  cursor: pointer;
}

#configsDialog {
  position: fixed;
  z-index: 2;
  
  background-color: white;

  padding: 2em;

  border-width: 3px;
  border-style: ridge;

  border-radius: 2em;
  box-shadow: 3px 3px 2px 2px lightgray;
}

#panel {
  width: 90%;
}

.button {
 display: inline-block;
 width: 5em;
 height: 2em;
 margin: 1em;
 line-height: 2em;
 border-width: 1px;
 border-radius: 1em;
 border-style: solid;
 box-shadow: 1px 3px 2px 2px lightgrey;
 text-align: center;
 font-size: larger;
 font-weight: bold; 
 cursor: pointer;
}

.button:hover {
  background-color: lightgray;
}

.button:active {
  box-shadow: 1px 1px 2px 2px lightgrey;
}

input[type=radio] {
  cursor: pointer;
}

fieldset {
  display: flex;
  justify-content: space-around;
}